<div [ngClass]="gss.patternEditMenuVisible? 'piano-vertical' : 'piano-vertical-menuhidden'" ><app-piano-octave>piano-octave #pianoOctave></app-piano-octave></div>
<div *ngFor="let part of progression.parts; let i = index" class="pattern-container" [style.left]="part.pattern.posX+'px'" >
  <div class="pattern" [style.width]="part.pattern.width+'px'">
    <app-pattern-part
        [part]="part" 
        [startOctave]="progression.startOctave"
        [numOctaves]="progression.numOctaves"
        (change)="handlePartChange($event)"
        (add2end)="handleAddPart2End($event)"
        (add2next)="handleAddPart2Next($event)"
        (delete)="handleDeleteRequest($event)"
        ></app-pattern-part>
  </div>
</div>