@import '../variables';

.piano-vertical{
    position: absolute;
    left:0;
    top: $patternTop;
    width: 50px;
}
.pattern-container {
    position: absolute;
    left: 50px;

    .pattern {
        margin:5px;
        height: 390px;
        border-radius:3px;
    }
}

