<svg width="100%" [attr.viewBox]="viewBox" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>Piano Keyboard</title>
  <defs></defs>
  <g id="piano-keyboard">
      <rect *ngFor="let wk of whiteKeys"
            (click)="onKeyClick(wk)"
            id="octave-{{wk.octave}}-{{wk.name}}-key" stroke="#555555" [attr.fill]="wk.fill" [attr.x]="wk.xPos" y="0" [attr.width]="keyWidth" [attr.height]="keyHeight"></rect>
      
      <rect *ngFor="let bk of blackKeys"
            (click)="onKeyClick(bk)"
            id="octave-{{bk.octave}}-{{bk.name}}-key" stroke="#979797" [attr.fill]="bk.fill" [attr.x]="bk.xPos" y="0" [attr.width]="keyWidth*0.5" [attr.height]="keyHeight*0.75"></rect>
   </g>
   <g id="scale-hints">
      <ellipse *ngFor="let h of scaleHints" 
            [attr.cx]="h.x" [attr.cy]="h.y" [attr.rx]="h.rx" [attr.ry]="h.ry" style="fill:#BBA680" />
      <text *ngFor="let h of scaleHints"  
            [attr.x]="h.x" [attr.y]="h.y" fill="white">{{h.degree}}</text>
   </g>

</svg>
