<svg width="100%" [attr.viewBox]="viewBox" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>Piano Keyboard</title>
  <defs></defs>
  <g id="piano-keyboard">
      <rect *ngFor="let wk of whiteKeys"
            (click)="onKeyClick(wk.name)"
            id="octave-{{wk.octave}}-{{wk.name}}-key" stroke="#555555" fill="#FFFFF7" [attr.x]="wk.xPos" y="0" [attr.width]="keyWidth" [attr.height]="keyHeight"></rect>
      <rect *ngFor="let bk of blackKeys"
            (click)="onKeyClick(bk.name)"
            id="octave-{{bk.octave}}-{{bk.name}}-key" stroke="#979797" fill="#4B4B4B" [attr.x]="bk.xPos" y="0" [attr.width]="keyWidth*0.5" [attr.height]="keyHeight*0.75"></rect>
   </g>
   <g id="piano-hints">
      <ellipse *ngFor="let ch of chordHints" 
            [attr.cx]="ch.x" [attr.cy]="ch.y" [attr.rx]="ch.rx" [attr.ry]="ch.ry"
            style="fill: red;"  />
   </g>
</svg>
