

<!-- Sidebar Menu -->
<sui-sidebar-container class="ui bottom attached segment">
    <!-- Mobile Menu -->
    <div class="ui top attached menu inverted " id="app-narrow-menu">
        <a class="item" (click)="sidebar.toggle()">
            <i class="sidebar icon big"></i>
        </a>
    </div>
    <sui-sidebar class="inverted vertical huge"  #sidebar>
        <a routerLink="./piano" class="item" (click)="sidebar.toggle()">Piano</a>
        <a routerLink="./progression-editor/0" class="item" (click)="sidebar.toggle()">Progression Editor</a>
    </sui-sidebar>
    <sui-sidebar-sibling [isDimmedWhenVisible]="true">
        <div class="ui top horizontal attached menu inverted" id="app-wide-menu">
            <a routerLink="./piano" class="item">Piano</a>
            <a routerLink="./progression-editor/0" class="item">Progression Editor</a>
        </div>
        
        <router-outlet></router-outlet>
       
    </sui-sidebar-sibling>
</sui-sidebar-container>



