

<!-- Sidebar Menu -->
<sui-sidebar-container class="ui bottom attached segment">
    <!-- Mobile Menu -->
    
    <sui-sidebar class="inverted vertical huge"  #sidebar>
            <a routerLink="./pattern" class="item" (click)="sidebar.toggle()" [ngClass]="{inline:inline}">Pattern Editor</a>
            <!--<a routerLink="./progression" class="item" (click)="sidebar.toggle()" [ngClass]="{inline:inline}">Progression Editor</a>-->
            <a class="item" (click)="logSongData()" [ngClass]="{inline:inline}">Log song data(dev-mode)</a>
    </sui-sidebar>
    <sui-sidebar-sibling [isDimmedWhenVisible]="true">
        <div class="ui top attached menu borderless inverted " id="app-narrow-menu">
            <div class="menu borderless">
                <a class="item" (click)="sidebar.toggle()">
                    <i class="sidebar icon big"></i>
                </a>
                <div class="right menu borderless"><app-progression-select></app-progression-select></div>
            </div>
        </div>
        <div class="ui attached horizontal menu inverted" id="app-wide-menu">
            <div class="left menu">
                    <a routerLink="./pattern" class="item" [ngClass]="{inline:inline}">Pattern Editor</a>
                    <!--<a routerLink="./progression" class="item" [ngClass]="{inline:inline}">Progression Editor</a>-->
                    <a class="item" (click)="logSongData()" [ngClass]="{inline:inline}">Log song data(dev-mode)</a>
                <div class="right menu borderless"><app-progression-select></app-progression-select></div>
            </div>
        </div>
        
        <app-piano *ngIf="!loading"></app-piano>
        <div *ngIf="loading || appBusy" class="ui active dimmer">
            <div class="ui text loader">{{loadingMessage}}</div>
        </div>
    </sui-sidebar-sibling>
</sui-sidebar-container>



