
    <!-- select Key root -->
    <div class="ui grid">
      <div class="column four wide">
        <sui-select class="button icon" 
          placeholder="Select a root" [(ngModel)]="part.root.name"
          (ngModelChange)="emitPartChange()"
          >
            <!--<div class="scrolling menu">-->
            <sui-select-option *ngFor="let n of notes" value="{{n.name}}"></sui-select-option>
            <!--</div>-->
        </sui-select>
    </div>
      <!-- select mode/chord -->
      <div class="column four wide">
          <sui-select class="button icon" 
          placeholder="Select a chord" [(ngModel)]="part.chord.name"
          (ngModelChange)="emitPartChange()"
          >
            <!--<div class="scrolling menu">-->
            <sui-select-option *ngFor="let c of chords" value="{{c.name}}"></sui-select-option>
            <!--</div>-->
        </sui-select>
      </div>
      <!-- select measures -->
      <div class="column four wide">
          <sui-select class="button icon" 
            placeholder="Measures" [(ngModel)]="part.measuresStr"
            (ngModelChange)="emitPartChange()"
            >
            <!--<div class="scrolling menu">-->
            <sui-select-option value="1"></sui-select-option>
            <sui-select-option value="2"></sui-select-option>
            <sui-select-option value="3"></sui-select-option>
            <sui-select-option value="4"></sui-select-option>
            <!--</div>-->
          </sui-select>
      </div>
      <div class="right floated column">
        <i (click)="deletePart()" class="right floated remove circle big red icon"></i>
      </div>
      <div class="column sixteen wide">
        <sui-select class="button icon fluid" 
          placeholder="Scale" [(ngModel)]="part.scale.name"
          (ngModelChange)="emitPartChange()"
          >
          <!--<div class="scrolling menu">-->
          <sui-select-option *ngFor="let s of scales" value="{{s.name}}"></sui-select-option>
          <!--</div>-->
        </sui-select>
      </div>
      <app-piano-octave class="ui fixed footer"
      [root]="part.root.name" [numOctaves]="1" [keyWidth]="80" [keyHeight]="200" #pianoOctave>
    </app-piano-octave>
    </div>
    