
    <!-- select Key root -->
    <div class="ui grid">
      <div class="column three wide">
        <app-select [items]="notes" (select)="onRootChange($event)" [selected]="part.root"></app-select>
    </div>
      <!-- select mode/chord -->
      <div class="column five wide">
        <app-select [items]="chords" (select)="onChordChange($event)" [selected]="part.chord"></app-select>
      </div>
      <!-- select measures -->
      <div class="column three wide">
          <app-select [items]="[{label:1},{label:2},{label:3},{label:4}]" 
          (select)="onMeasuresChange($event)" 
          [selected]="{label:1}"></app-select>
      </div>
      <div class="right floated column">
        <i (click)="deletePart()" class="right floated remove circle big red icon"></i>
      </div>
      <div class="column sixteen wide">
          <app-select [items]="scales" 
          (select)="onScaleChange($event)" 
          [selected]="part.scale"></app-select>
      </div>
      <p class="ui small">Click on a key to select a root</p>
      <app-piano-octave #pianoOctave>
    </app-piano-octave>
    </div>
    