
    <!-- select Key root -->
    <div class="ui grid">
      <div class="column five wide">
        <app-note-dropdown 
          [message]="'Select a tonic'"
          [note]="part.key.tonic.name"
          (change)="handleTonicChange($event)"></app-note-dropdown>
      </div>
      <!-- select mode/chord -->
      <div class="column five wide">
        <app-mode-dropdown 
          [message]="'Select a chord'"
          [mode]="part.chord.name"
          (change)="handleChordChange($event)"></app-mode-dropdown>
      </div>
      <!-- select measures -->
      <div class="column five wide">
          <sui-select class="button icon fluid" 
            placeholder="Measures" [(ngModel)]="part.measuresStr"
            >
            <!--<div class="scrolling menu">-->
            <sui-select-option value="1"></sui-select-option>
            <sui-select-option value="2"></sui-select-option>
            <sui-select-option value="3"></sui-select-option>
            <sui-select-option value="4"></sui-select-option>
            <!--</div>-->
          </sui-select>
      </div>
      <div class="column sixteen wide">
        <sui-select class="button icon fluid" 
          placeholder="Scale" [(ngModel)]="part.key.scale.name"
          >
          <!--<div class="scrolling menu">-->
          <sui-select-option value="Major"></sui-select-option>
          <sui-select-option value="Minor"></sui-select-option>
          <!--</div>-->
        </sui-select>
      </div>
      <app-piano-octave class="ui fixed footer"
      [root]="part.key.tonic.name" [numOctaves]="1" [keyWidth]="80" [keyHeight]="200" #pianoOctave>
    </app-piano-octave>
    </div>
    