<br><br><br>
<div class="ui centered grid">
  <div class="item five wide">
    <div class="ui icon  huge buttons">
      <button class="ui button">
        <i class="play white icon"></i>
      </button>
      <button class="ui button">
        <i class="pause white icon"></i>
      </button>
      <button class="ui button">
        <i class="stop white icon"></i>
      </button>
    </div>
  </div>
</div>
<br><br><br>
<app-piano-octave class="ui fixed bottom"
  [root]="selectedTonic" [numOctaves]="4" [keyWidth]="80" [keyHeight]="400" #pianoOctave>
</app-piano-octave>
