<div (drop)="onDrop()">
<div class="controls" #controls>
    <div class="buttons" >
      <div class="ui icon massive fluid buttons">
        <button (click)="playProgression()" class="ui button">
          <i class="play white icon"></i>
        </button>
        <button (click)="pauseProgression()" class="ui button">
          <i class="pause white icon"></i>
        </button>
        <button (click)="stopProgression()" class="ui button">
          <i class="stop white icon"></i>
        </button>
      </div>
    </div>
    <div class="bpm" >
        <app-slider [label]="'BPM'"
                    [value]="bpm"
                    [min]="60"
                    [max]="220" 
                    (changed)="onBpmSliderChange($event)"></app-slider>
    </div>
</div>

<div class="editor" #editor>
  <div *ngIf="progression">
    <app-pattern-editor (partselected)="onPartSelect($event)"></app-pattern-editor>
  </div>
  <div *ngIf="!progression" >
      <div class="ui red inverted big message">No progression selected. Please pick a progression in the topleft dropdown-menu</div>
  </div>
</div>
<div class="ep-divider" ep-divider draggable="true" [pianoDiv]="pianoFooter" [editorDiv]="editor"></div>
<div class="piano-footer" #pianoFooter>
  <app-piano-octave #pianoOctave>
  </app-piano-octave>
  <app-pianocolor-legend></app-pianocolor-legend>
</div>
</div>
