@import '../../variables';

.sidemenu {
    display: inline-block;
    width: 100%;
    min-width: 0;
    position:relative;

    .items {
        cursor: auto;
        position: absolute;
        right:0px;
        outline: 0;
        top: 100%;
        min-width: max-content;
        margin: 0;
        margin-top:.75em;
        padding: 0 0;
        background: #fff;
        font-size: 1em;
        text-shadow: none;
        text-align: left;
        box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
        border: 1px solid rgba(34,36,38,.15);
        border-radius: .28571429rem;
        transition: opacity .1s ease;
        z-index: 11;
        will-change: transform,opacity;

        .pointer{
            position:absolute;
            right:1.5em;
            width:1em;
            height:1em;
            top:-.5em;
            background:#fff;
            transform: rotate(45deg);
            box-shadow: none;
            background: #ffffff;
            border: #e0e0e1 solid;
            border-left-width: 1px;
            border-right-width: 0px;
            border-top-width: 1px;
            border-bottom-width: 0px;
        }

        .item {
            position: relative;
            cursor: pointer;
            display: block;
            border: none;
            height: auto;
            text-align: left;
            border-top: none;
            line-height: 1em;
            color: rgba(0,0,0,.87);
            padding: .78571429rem 1.14285714rem!important;
            font-size: 1rem;
            text-transform: none;
            font-weight: 400;
            box-shadow: none;
            -webkit-touch-callout: none;
        }
        .item:hover {
            background: rgba(0,0,0,.05);
            color: rgba(0,0,0,.95);
            z-index: 13;
        }
        .active {
            background: 0 0;
            font-weight: 700;
            color: rgba(0,0,0,.95);
            box-shadow: none;
            z-index: 12;
        }
    }
    .items-right {
        left:-1em;
        .pointer {
            left: 1.2em;
        }
    }
    .display-none{ display:none; }
    .display-block{display:block; }
}

