<div class="sidemenu">
    <i (click)="toggle($event)" [ngClass]="iconClasses" (click)="toggle($event)" #myIcon></i>
    <div 
      [ngClass]="itemsDivClasses"
      class="items"
      [@toggleMenu]="state.state"
      (@toggleMenu.done)="toggleAnimateDone()" >
      <div class="pointer"></div>
      <div *ngFor="let item of items"
        class="item"
        (click)="selectItem(item)"
        >
        <i *ngIf="item.icon.length>0" class="{{item.icon}} icon"></i>{{item.label}}
      </div>
    </div>
  </div>
  
