<sui-select class="button icon fluid" 
placeholder="{{message}}" [(ngModel)]="mode"
(ngModelChange)="emitChange()"
>
<!--<div class="scrolling menu">-->
<sui-select-option value="I"></sui-select-option>
<sui-select-option value="II"></sui-select-option>
<sui-select-option value="III"></sui-select-option>
<sui-select-option value="IV"></sui-select-option>
<sui-select-option value="V"></sui-select-option>
<sui-select-option value="VI"></sui-select-option>
<sui-select-option value="VII"></sui-select-option>
<!--</div>-->
</sui-select>
