<sui-select class="button icon fluid" 
  placeholder="{{message}}" [(ngModel)]="note"
  (ngModelChange)="emitChange()"
  >
  <!--<div class="scrolling menu">-->
  <sui-select-option value="C"></sui-select-option>
  <sui-select-option value="C#"></sui-select-option>
  <sui-select-option value="D"></sui-select-option>
  <sui-select-option value="D#"></sui-select-option>
  <sui-select-option value="E"></sui-select-option>
  <sui-select-option value="F"></sui-select-option>
  <sui-select-option value="F#"></sui-select-option>
  <sui-select-option value="G"></sui-select-option>
  <sui-select-option value="G#"></sui-select-option>
  <sui-select-option value="A"></sui-select-option>
  <sui-select-option value="A#"></sui-select-option>
  <sui-select-option value="B"></sui-select-option>
  <!--</div>-->
</sui-select>
