$colWidth: 30px;
$eigthtNoteWidth:30px;

.tonality-select {
    /*position: fixed;
    top: 125px;*/
    height: 28px;
    display: inline-block;
    .item {
        font-size:.8em;
        display: inline-block;
    }
    z-index:100;
    background:white;
}
.edit-menu {
    position: absolute;
    right: 5px;
    top:3px;
    .item {
        display: inline-block;
        .icon {
            cursor: pointer;
            color:grey;
        }
        .icon:hover {
            color:#333;
        }
    }
}
.pattern-background {

    position:absolute;
    top: 49px;
    border: none;
    .row {
    }
    .col {
        padding-bottom:1px;
        padding-right:1px;
        width:30px;
        height: 11px;
        opacity: .25;
    }
}
.pattern {
    position:absolute;
    top:49px;
    z-index: 10;
    .note {
        position:absolute;
        height: 10px;
        width:$eigthtNoteWidth;
    }
}