<!-- top menu -->
<div class="part-menu" (click)="selectPart()" *ngIf="topMenuVisible">
  <div class="tonality-select">
      <div class="item">
          <app-side-menu 
          [title]="this.part.root.name+'-'+this.part.chord.name+'~'+this.part.scale.name" 
          [alignRight]="true"
          [useActiveState]="true"
          [items]="tonalityMenuItems" 
          [iconClasses]="tonalityMenuItemClasses" 
          (select)="onTonalityMenuSelect($event)"
          (click)="selectPart()" ></app-side-menu>
      </div>
  </div>
  <div class="edit-menu">
      <div class="item">
          <app-side-menu 
          [title]="'Copy or delete part'"
          [alignRight]="false" 
          [xAdjust]="-20"
          [items]="copyMenuItems" 
          [iconClasses]="copyMenuItemClasses" 
          (select)="onCopyMenuSelect($event)"
          (click)="selectPart()" ></app-side-menu>
      </div>
      <div class="item">
          <i title="remove collumn" (click)="removeTickCollumn()" class="minus circle icon"></i>
      </div>
    <div class="item">
        <i title="add collumn" (click)="addTickCollumn()" class="add circle icon"></i>
    </div>
    
  </div>
</div>

<!-- pattern background cells -->

<table *ngIf="keys" [ngClass]="patternBackgroundClasses" [parent]="this" [selectionRect]="selectionRect"
  [style.width]="part.pattern.width+'px'" appPatternBackground>
  <tr *ngFor="let note of keys" class="row" >
    <td *ngFor="let i of tickIndexes;" 
      (mousedown)="onCellMouseDown($event)"
      (mouseup)="onCellMouseUp( $event, note, i )"
      class="col"
      [style.background-color]="note.fill"
      ></td> 
  </tr>
</table>

<!-- active notes -->
<div [ngClass]="patternNotesClasses">
  <div *ngFor="let note of activeNotes" 
    class="note" 
    [ngClass]="{selected:note.selected}"
    [ngStyle]="{left:note.posX+'px',top:note.posY+'px',width:note.width+'px'}" 
    [style.background-color]="note.fill" [parent]="this" [tickNote]="note" draggable="false" pattern-note></div>
</div>

<div class="selection-rect" #selectionRect></div> <!-- used by PatternBackgroundDirective to visualize note selection -->
