.tonality-select {
    /*position: fixed;
    top: 125px;*/
    height: 28px;
    display: inline-block;
    .item {
        font-size:.8em;
        display: inline-block;
    }
    z-index:100;
    background:white;
}
.edit-menu {
    position: absolute;
    right: 5px;
    top:3px;
    .item {
        display: inline-block;
    }
}
.pattern {

    position:absolute;
    top: 49px;
    border: none;
    .row {
    }
    .col {
        padding-bottom:1px;
        padding-right:1px;
        width:30px;
        height: 11px;
    }
}