@import '../../variables';

$colWidth: 30px;
$eigthtNoteWidth:30px;

.part-menu {
    position: relative;
    top:-4px;
    background: #dededa;
    border-radius: 5px 5px 0 0;
    height: 22px;
    padding: 0 2px;
    margin-left: 2px;
    margin-right:2px;
    .tonality-select {
        position: absolute;
        left: 1px;
        top:1px;
        display: inline-block;
        white-space: nowrap;
        
        z-index:100;

        .item {
            display:inline-block;
        }
    }
    .edit-menu {
        position: absolute;
        right: 1px;
        top:1px;
    
        .item {
            display: inline-block;
            .icon {
                cursor: pointer;
                color:grey;
                font-size: .85em;
            }
            .icon:hover {
                color:#333;
            }
        }
    }
}

.pattern-background {
    position:absolute;
    border: none;

    .col {
        padding-bottom:1px;
        padding-right:1px;
        height: 11px;
        opacity: .25;
    }
    
}
.selection-rect {
    overflow: hidden;
    display: none;
    position: fixed;
    outline: 1px #E259FD solid;
}

.top-menu-hidden {
    top:2px /*$patternMenuTop; */
}
.top-menu-visible {
    top:$patternTop;
}
.part-selected {
    outline: 3px $part-selected-border-color solid;
}

.pattern {
    position:absolute;
    z-index: 10;
    .note {
        position:absolute;
        height: 10px;
        width:$eigthtNoteWidth;
        border-radius: 3px;
        opacity: .7;
    }
    .selected {
        opacity: 1;
        outline: 2px #04FF19 solid;
    }
}
.chord-display {
    font-size:1em;
    margin-top:-7px;
    margin-left:2px;
}